<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hola Mundo!</title>
  </head>
  <body>
    <h1>Hola Mundo!</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
      unde modi eaque, voluptas tempora cum velit blanditiis voluptatum aliquid
      nihil explicabo ut commodi libero placeat perspiciatis itaque consectetur
      molestiae similique!
    </p>
    <br>
    <p><a href="/health">/health</a></p>
  </body>
</html>
